<div class="row w-100">
  <div class="col-sm-3">
    <select class="form-control">
      <option value="1">Phong cho thue</option>
      <option value="1">Phong chua cho thue</option>
    </select>
  </div>
  <div class="col-sm-3">
    <select name="" class="form-control">
      <option value="1">Phong cho thue</option>
      <option value="1">Phong chua cho thue</option>
    </select>
  </div>
  <div class="col-sm-3">
    <input type="text" class="form-control search">
  </div>
  <div class="col-sm-3">
    <button type="button" class="btn btn-primary" name="button">
      <i class="fa fa-search"></i>
      Tìm kiếm
    </button>
  </div>
</div>
<div class="row w-100">
  <div class="col-sm-12">
    <!-- <blockquote class="blockquote"> -->
    <hr>
      <button class="btn btn-success" onclick="window.location.href='/houses/new'" id="addArea"><i class="fa fa-university"></i>Thêm nhà</button>
      <button class="btn btn-info" onclick="window.location.href='/room_fast'" id="addArea"><i class="fa fa-plus"></i>Thêm phòng nhanh</button>
      <button class="btn btn-success" onclick="window.location.href='/rooms/new'" id="addArea"><i class="fa fa-bed"></i> Thêm phòng</button>
      <button class="btn btn-primary edithouse" id="addArea"><i class="fa fa-pencil"></i> Sửa nhà</button>
      <button class="btn btn-danger deletehouse" data-method="delete" rel="nofollow" id="addArea"><i class="fa fa-close"></i> Xóa nhà</button>
    <!-- </blockquote> -->
    <hr>
  </div>
</div>
