<div class="container-fluid clearfix">
  <!-- <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019 <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span> -->
  <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Luận văn tốt nghiệp © 2021</span>
  <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Trên con đường thành công không có dấu chân của kẻ lường biến <i class="mdi mdi-heart text-danger"></i>
  <!-- <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i> -->
  </span>
</div>
