<div class="col-12">
  <div class="page-header">
    <h4 class="page-title">Dashboard</h4>
    <div class="quick-link-wrapper w-100 d-md-flex flex-md-wrap">
      <ul class="quick-links">
        <li><a class="hovernotbackground" href="#">ICE Market data</a></li>
        <li><a class="hovernotbackground" href="#">Own analysis</a></li>
        <li><a class="hovernotbackground" href="#">Historic market data</a></li>
      </ul>
      <ul class="quick-links ml-auto">
        <li><a class="hovernotbackground" href="#">Settings</a></li>
        <li><a class="hovernotbackground" href="#">Analytics</a></li>
        <li><a class="hovernotbackground" href="#">Watchlist</a></li>
      </ul>
    </div>
  </div>
</div>
