<% if resource.errors.any? %>
  <% resource.errors.full_messages.each do |message| %>
    <div data-alert class="alert-box text-center bg-danger">
      <%= content_tag :div, message %>
    </div>
  <% end %>
<% end %>
