<div class="row">
  <div class="col-sm-2 house">
    <a class="hovernotbackground text-decoration-none" dta-toggle="tab" aria-expanded="true">
      <blockquote class="blockquote blockquoteroom text-center text-danger" data-inf="1" data-service="inf"><%=t('shared.informations')%></blockquote>
    </a>
  </div>
  <div class="col-sm-2 house">
    <a class="hovernotbackground text-decoration-none" dta-toggle="tab" aria-expanded="true">
      <blockquote class="blockquote blockquoteroom text-center text-danger" data-inf="2" data-service="serv"><%=t('shared.services')%></blockquote>
    </a>
  </div>
  <div class="col-sm-2 house">
    <a class="hovernotbackground text-decoration-none" dta-toggle="tab" aria-expanded="true">
      <blockquote class="blockquote blockquoteroom text-center text-danger" data-inf="3" data-service="mem"><%=t('shared.members')%></blockquote>
    </a>
  </div>
  <div class="col-sm-2 house">
    <a class="hovernotbackground text-decoration-none" dta-toggle="tab" aria-expanded="true">
      <blockquote class="blockquote blockquoteroom text-center text-danger" data-inf="4" data-service="indexser"><%=t('shared.services_index')%></blockquote>
    </a>
  </div>
</div>
