<div class="row">
  <div class="col-sm-2 house">
    <a class="hovernotbackground text-decoration-none" dta-toggle="tab" aria-expanded="true">
      <blockquote class="blockquote blockquoteroom text-center text-danger" data-inf="1">Thông tin khách</blockquote>
    </a>
  </div>
  <div class="col-sm-2 house">
    <a class="hovernotbackground text-decoration-none" dta-toggle="tab" aria-expanded="true">
      <blockquote class="blockquote blockquoteroom text-center text-danger" data-inf="2">Dịch vụ</blockquote>
    </a>
  </div>
  <div class="col-sm-2 house">
    <a class="hovernotbackground text-decoration-none" dta-toggle="tab" aria-expanded="true">
      <blockquote class="blockquote blockquoteroom text-center text-danger" data-inf="3">Thành viên </blockquote>
    </a>
  </div>
</div>
