<div class="row mb-2 line">
  <div class="col-sm-6">
    <h4 class="card-title ml-1"><%= @title %></h4>
  </div>
  <div class="col-sm-6">
    <button type="submit" class="btn btn-success save float-right mr-2">
      <i class="fa fa-check"></i>
      <%=t('layout.save')%>
    </button>
    <button type="button" class="btn btn-warning float-right mr-2" onclick="location.href='/houses'">
      <i class="fa fa-mail-reply"></i>
      <%=t('layout.back')%>
    </button>
  </div>
</div>
<hr>
