<div class="container">
  <h3 id="my-peer"></h3>
  <video id="localStream"  width="300" controls></video>
   <br /><br />
   <video id="remoteStream"  width="300" controls></video>
   <br /><br />
   <input type="text" name="" id="remoteID" placeholder="Remote Id">
   <button type="button" id="btncall" name="button">Call</button>
</div>
