<div class="container">
  <h1 class="text-center">ĐIỀU KHIỂN ĐÈN THÔNG QUA FIREBASE</h1>
  <button type="button" class="check_guild btn btn-sm bg-primary text-white"name="button">Hướng dẫn điều khiển bằng giọng nói</button>
  <div class="guid_voice">
    <div class="">Cách đọc: <span class="text-danger">Mã phòng + trạng thái (1: ON, 0: OFF)</span></div>
    <div class="">
      Đối với Phòng1: 110
    </div>
    <div class="">
      Cách đọc bằng tiếng anh như sau:
      <ul>
        <li>
          <span class="text-danger">one one zero one </span> là bật đèn
        </li>
        <li>
          <span class="text-danger">one one zero zero </span> là tắt đèn
        </li>
        <li>Kết quả như hình vẽ <img src="/assets/guild_voice.png" alt="Kết quả hiển thị như hình"> </li>
      </ul>
    </div>
    <div class="voice_control_led"></div>
  </div>
  <div class="firebase_led"></div>
</div>
