<div class="container">
  <div class="">
    <%= link_to '<< Back', regulations_path, class: "text-info hovernotbackground" %>
    <h1>Editing Regulation</h1>
  </div>
  <%# <%= link_to 'Show', @regulation %>
</div>

<%= render 'form', regulation: @regulation %>
