<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-6">
      <%= pie_chart @rooms.group(:mark).count%>
      <div class="text-center">Biểu đồ  phòng</div>
      <div class="notesection">
        <div class="">
          <small>0: Phòng trống</small>
        </div>
        <div class="">
          <small>1: Phòng có khách</small>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <%= pie_chart @users.group(:admin).count%>
      <div>
        <div class="text-center">Biểu đồ khách hàng thuê</div>
        <div class="notesection">
          <div class="">
            <small>0: Khách thuê</small>
          </div>
          <div class="">
            <small>1: Người quản lý</small><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render_report 'paytherent' %>
