// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.mainbody{
  margin-top: 39px !important;
}
.hovernotbackground:hover, .brand-logo-mini:hover{
  background: none !important;
}
.button_mic{
  width: 27px;
}
.listening {
  // display: none !important;
}
.guid_voice {
  display: none;
}
