.simple-calendar {
  .day {
    color: black;
    cursor: pointer;
    border: 1px solid black;
  }
  .wday-0 {
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background: yellow;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}
.simple-calendar {
  .day:hover {
    background: gray;
  }
}
.table-striped>thead>tr>th {
  border: 1px solid black;
}
.table-striped>thead>tr>th:nth-child(6) {
  color: blue;
}
.table-striped>thead>tr>th:nth-child(7) {
  color: red;
}
.table-striped>tbody>tr>td:nth-child(6) {
  color: blue;
}
.table-striped>tbody>tr>td:nth-child(7) {
  color: red;
}
.table-striped>tbody>tr>td {
  width: 14% !important;
  height: 60px !important;
}
